@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Lato:wght@900&family=Montserrat:wght@900&family=Open+Sans&family=Roboto:wght@400;900&display=swap');